<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>BrightEdge Faculty Homepage</title>
</head>
<body>
    <div class="snavbar">
        <h2>BrightEdge</h2>
    </div>
 <div class="container">
    <h1 class="mainheading"> Add content to the following courses. </h1>
    <div class="coursecontainer">
        <% courses.forEach(function(course){ %>
            <div class="course">
                <a href="/addcontent/<%= course._id %>">
                    <h2><%= course.name %></h2>
                    <h3><%= course.faculty %></h3>
                    <p><%= course.code %></p>
                </a>
                <a href="/addcontent/<%= course._id %>"> Add content </a>
            </div>
            <% }) %>
    </div>
</div>
</body>
</html>