<%- include('header') %> 



<h1 class="mainheading"> Dashboard </h1>
<div class="mnavbar">
    <a href="/addcourse">Add Course</a>
    <!-- <a href="/updatecourse">Update Course</a> -->
    <a href="/deletecourse">Delete Course</a>
</div>


<div class="dcontainer" style="background-color: black;">
    <div class="item">
        <p style="font-weight: bold; font-size: 1.2rem;">Course Name</p>
        <p style="font-weight: bold; font-size: 1.2rem;">Course code</p>
        <p style="font-weight: bold; font-size: 1.2rem;">Course faculty</p>
    </div>
    <% courses.forEach(function(course){ %>

        <div class="item">
            <p><%= course.name %></p>
            <p><%= course.code %></p>
            <p><%= course.faculty %></p>
        </div>

        <% }) %>

</div>


    <h2 class="mainheading">Add users</h2>
    <div class="adduserbox">
        <button class="subbtn userb" > <a href="/addstudent"> Add Student</a></button>
        <button class="subbtn userb" > <a href="/addfaculty"> Add Faculty</a></button>
        <button class="subbtn userb" > <a href="/addmanagement"> Add Management</a></button>
    </div>


<%- include('footer') %> 
